<h1>Add a New Pet</h1>
<form action='/pets/add' method="POST">
    <label for="name">Enter the Pet's Name: </label>
    <input type="text" name="name" placeholder="Enter Name" /><br>

    <label for="imgUrl">Enter a URL for the Pet's Image: </label>
    <input type="text" name="imgUrl" placeholder="Image URL" /><br>

    <label for="description">Enter Pet's Description: </label>
    <input type="textarea" name="description" placeholder="Enter Description" /><br>

    <button type="submit">Add Pet</button>
</form>